<%= form_for @evolution do |f| %>
  <div class="field">
    <%= f.label :field_rows, "Размеры поля" %>
    <%= f.text_field :field_rows, placeholder: Evolution::FIELD_SIZE_RANGE %>x
    <%= f.text_field :field_cols, placeholder: Evolution::FIELD_SIZE_RANGE %>
  </div>
  <div class="field">
    <%= f.label :main_name, "Имя колонии" %>
    <%= f.text_field :main_name, placeholder: "[A..z]" %>
  </div>
  <div class="field">
    <%= f.label :main_top, "Сдвиг относительно верхнего левого угла" %>
    <%= f.text_field :main_top, placeholder: "0..#{@evolution.field.rows - 6}" %>x
    <%= f.text_field :main_left, placeholder: "0..#{@evolution.field.cols - 6}" %>
  </div>
  <div class="field">
    <%= f.label :life_cycles_number, "Количество циклов жизни" %>
    <%= f.text_field :life_cycles_number, placeholder: Evolution::LIFE_CYCLES_RANGE %>
  </div>
  <div class="field">
    <%= f.label :population_size, "Размер популяции" %>
    <%= f.text_field :population_size, placeholder: Evolution::POPULATION_SIZE_RANGE %>
  </div>
  <div class="field">
    <%= f.label :evolution_steps, "Количество шагов эволюции" %>
    <%= f.text_field :evolution_steps, placeholder: Evolution::EVOLUTION_STEPS_RANGE %>
  </div>
  <div class="field">
    <%= f.label :mutation_level, "Уровень мутации" %>
    <%= f.text_field :mutation_level, placeholder: Evolution::MUTATION_LEVELS %>
  </div>
  <%= fields_for @evolution.task do |task_form| %>
    <div class="field">
      <%= task_form.label :goal, "Задание" %>
      <%= task_form.select :goal, Task.new.enums(:goal).select_options %>
    </div>
  <% end %>
  
  <%= f.submit "ЭВОЛЮЦИОНИРОВАТЬ" %>
<% end %>
