<%= init_action_js @evolve %>

<div id="evolution-form-block" class="block">
  <%= render 'form' %>
</div>

<div id="life-player-block" class="block">
  <div id="life-table" class="table-wrapper">
    <%= render 'shared/table', table: @evolution.field %>
  </div>
  <div id="life-cycle">0</div>
  <button id="play-evolution">▶</button>
  <button id="pause-evolution">▮▮</button>
  <button id="stop-evolution">■</button>
</div>

<div class="clear"></div>

<table id="evolution-block" class="block">
  <caption>Эволюция</caption>
  <% @evolution.evolution_steps.times do |step| %>
    <th colspan="<%= @evolution.population_size %>">
      Популяция <%= step %> шага эволюции:
    </th>
    <tr id="evolution-<%= step %>-step">
      <% @evolution.population_size.times do |colony_number| %>
        <td id="colony-<%= colony_number %>-block" class="colony-block">
          <div>Колония №<%= colony_number %></div>
          <div class="table-wrapper"
               data-step="<%= step %>"
               data-colony_number="<%= colony_number %>">
            <%= render 'shared/table', table: @evolve[step][colony_number][:colony] %>
          </div>
          <div>Набрано очков: <span class="task-points"></span></div>
          <div>Существенные клетки: <span class="task-ids"></span></div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
